html.dtd

<!SGML  "ISO 8879:1986"
--
	Document Type Definition for the HyperText Markup Language 
	as used by the World Wide Web application (HTML DTD).

	NOTE: This is a definition of HTML with respect to
	SGML, and assumes an understaning of SGML terms.

	For a description of HTML in layman's terms, see

	"HTML: A Representation for Nodes in the World Wide Web"
		by Dan Connolly.

	aka

	http://info.cern.ch/hypertext/WWW/MarkUp/MarkUp.html
		by <connolly@convex.com>
--

CHARSET
         BASESET  "ISO 646:1983//CHARSET
                   International Reference Version (IRV)//ESC 2/5 4/0"
         DESCSET  0   9   UNUSED
                  9   2   9
                  11  2   UNUSED
                  13  1   13
                  14  18  UNUSED
                  32  95  32
                  127 1   UNUSED

CAPACITY	SGMLREF
		TOTALCAP	150000
		GRPCAP		150000
  
SCOPE    DOCUMENT
SYNTAX   
         SHUNCHAR CONTROLS 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
                           19 20 21 22 23 24 25 26 27 28 29 30 31 127 255
         BASESET  "ISO 646:1983//CHARSET
                   International Reference Version (IRV)//ESC 2/5 4/0"
         DESCSET  0 128 0
         FUNCTION RE          13
                  RS          10
                  SPACE       32
                  TAB SEPCHAR  9
         NAMING   LCNMSTRT ""
                  UCNMSTRT ""
                  LCNMCHAR ".-"
                  UCNMCHAR ".-"
                  NAMECASE GENERAL YES
                           ENTITY  NO
         DELIM    GENERAL  SGMLREF
                  SHORTREF SGMLREF
         NAMES    SGMLREF
         QUANTITY SGMLREF
                  NAMELEN  34
                  TAGLVL   100
                  LITLEN   1024
                  GRPGTCNT 150
                  GRPCNT   64                   

FEATURES
  MINIMIZE
    DATATAG  NO
    OMITTAG  YES
    RANK     NO
    SHORTTAG NO
  LINK
    SIMPLE   NO
    IMPLICIT NO
    EXPLICIT NO
  OTHER
    CONCUR   NO
    SUBDOC   NO
    FORMAL   NO
  APPINFO    NONE
>

<!DOCTYPE HTML [
<!--
 $Id$
-->

<!--	Regarding clause 6.1, SGML Document:

	[1] SGML document = SGML document entity,
	    (SGML subdocument entity |
	    SGML text entity | non-SGML data entity)*

	The role of SGML document entity is filled by this DTD,
	followed by the	conventional HTML data stream.
-->

<!ENTITY % heading "H1|H2|H3|H4|H5|H6" >
<!ENTITY % list "UL|OL|DIR|MENU">
<!ENTITY % literal "XMP|LISTING">

<!ENTITY % headelement
	 "TITLE | NEXTID | ISINDEX" >

<!ENTITY % bodyelement
	 "P | A | %heading | %list | DL | ADDRESS | PRE | %literal">

<!ENTITY % anyelement "HEAD | %headelement; | BODY | %bodyelement;">

<!ELEMENT HTML O O  ((%anyelement|#PCDATA)*, PLAINTEXT?)>

<!ELEMENT HEAD - -  (TITLE? & ISINDEX? & NEXTID?)>

<!ELEMENT BODY - -  (%bodyelement|#PCDATA)*>

<!ELEMENT TITLE	- -  CDATA
	  -- The TITLE element is not considered part of the flow of text.
	     It should be displayed, for example as the page header or
	     window title.
	  -->

<!ELEMENT ISINDEX - O EMPTY
	  -- WWW clients should offer the option to perform a search on
	     documents containing ISINDEX.
	  -->
 
<!ELEMENT NEXTID - O EMPTY>
<!ATTLIST NEXTID N NUMBER #REQUIRED
	  -- The number should be the highest number that appears in
	     any NAME attribute in the document.
	  -->
	
<!ENTITY % URL "CDATA"
	-- The term URL means a CDATA attribute
	   whose value is a Universal Resource Locator,
	   as defined in ftp://info.cern.ch/pub/www/doc/url3.txt
	-->

<!ELEMENT A	- -  (#PCDATA)>
<!ATTLIST A
	NAME NMTOKEN #IMPLIED
	HREF %URL; #IMPLIED
	TEXT (PLAIN, X-HTML, X-RTF) #IMPLIED
	-- choose MIME text/plain or text/html content type --
	-- if not specified, inferred from HREF filename --
	>

<!ELEMENT P	- O EMPTY>
<!-- P separates paragraphs -->

<!ELEMENT (%heading)	- -  (#PCDATA|A)+>

<!ELEMENT DL	- -  (DT|DD|A|P|#PCDATA)*>
<!--	Content should match ((DT,(A|#PCDATA)+)+,(DD,(A|#PCDATA)+))
	But mixed content is messy.
  -->
 
<!ELEMENT DT	- O EMPTY>
<!ELEMENT DD	- O EMPTY>

<!ELEMENT (%list) - -  (#PCDATA|LI|A|P)+>
<!--	Content should match ((LI,(A|#PCDATA)+)+)
	But mixed content is messy.
  -->

<!ELEMENT LI	- O EMPTY>

<!ELEMENT ADDRESS - - (#PCDATA|A|P)+>

<!ELEMENT PRE - - (#PCDATA|A|P)+>
<!ATTLIST PRE
	WIDTH NUMBER 80
        >

<!ELEMENT (%literal) - -  CDATA>

<!ELEMENT PLAINTEXT - O EMPTY>
<!--	  The <PLAINTEXT> tag, if present, signals the end of the SGML
	  document entity. The data that follows serves as a non-SGML
	  data entity.
  -->

<!--      Text Entities       -->

<!-- Characters that may begin a delimiter-in-context sequence
	From "ISO 8879:1986//ENTITIES Numeric and Special Graphic//EN" -->
<!ENTITY lt "<">
<!ENTITY gt ">">
<!ENTITY amp "&">

<!-- Characters from various Latin alphabets. -->
<!ENTITY % ISOlat1 PUBLIC
       "ISO 8879:1986//ENTITIES Added Latin 1//EN">
%ISOlat1;

]>
